<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="masterDetail"
				 type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<connectionStrings>
		<add name="SqlCn"
			 connectionString="Server=DESKTOP-N7RF6D5;Database=LibraryDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<masterDetail>

		<!-- SCENARIU ACTIV -->
		<add key="ActiveScenario" value="AuthorsBooks"/>
		<!-- ── AUTHORS → BOOKS ── -->
		<add key="AuthorsBooks.Caption"         value="Authors &amp; Books"/>
		<add key="AuthorsBooks.ParentSelect"    value="SELECT * FROM Authors"/>
		<add key="AuthorsBooks.ChildSelect"     value="SELECT * FROM Books"/>
		<add key="AuthorsBooks.ParentKey"       value="AuthorID"/>
		<add key="AuthorsBooks.ChildForeignKey" value="AuthorID"/>
		<!-- CRUD pentru detail -->
		<add key="AuthorsBooks.ChildInsert"     value="sp_InsertBook"/>
		<add key="AuthorsBooks.ChildUpdate"     value="sp_UpdateBook"/>
		<add key="AuthorsBooks.ChildDelete"     value="sp_DeleteBook"/>

		<!-- ── PUBLISHERS → BOOKS ── -->
		<add key="PublishersBooks.Caption"         value="Publishers &amp; Books"/>
		<add key="PublishersBooks.ParentSelect"    value="SELECT * FROM Publishers"/>
		<add key="PublishersBooks.ChildSelect"     value="SELECT * FROM Books"/>
		<add key="PublishersBooks.ParentKey"       value="PublisherID"/>
		<add key="PublishersBooks.ChildForeignKey" value="PublisherID"/>
		<!-- CRUD pentru detail -->
		<add key="PublishersBooks.ChildInsert"     value="sp_InsertBookWithPublisher"/>
		<add key="PublishersBooks.ChildUpdate"     value="sp_UpdateBookWithPublisher"/>
		<add key="PublishersBooks.ChildDelete"     value="sp_DeleteBook"/>

	</masterDetail>

</configuration>



<!-- <add key="ActiveScenario" value="PublishersBooks"/>  <add key="ActiveScenario" value="AuthorsBooks"/> /> /> -->